%h1== Your profile

#gravatar.box.bordered
  = gravatar_for @user
  == Want to change your photo? #{link_to 'Get a gravatar', 'http://en.gravatar.com/site/signup'}
#form
  - form_for @user, :html => {:id => 'user-form'} do |f|
    .bordered.box= render :partial => 'users/form', :locals => {:f => f}
    #profile-fields.bordered.box
      = render :partial => 'users/why_profile_important'
    
      %p
        = f.label :full_name
        = f.text_field :full_name
      %p
        = f.label :phone
        = f.text_field :phone
      %p
        - f.fields_for :profile do |profile|
          = profile.label :about
          = profile.text_area :about
    = f.submit 'Save'
