- request = current_user.outgoing_requests.first(:conditions => {:item_id => item.id})
.item{:id => item.element_id, :class => request ? 'requested' : ''}
  %h2.title.searchable= item.title
  %p.description.searchable= item.description
  - unless current_user == item.user
    .distance== This item is #{distance_phrase_for item} from you.
    - if request
      You have a pending request for this item.
      = link_to_remote "Retract", :url => item_request_url(item, request), :method => :delete
    - else
      = link_to_remote 'Request', :url => item_requests_url(item), :method => :post