- request = current_user.outgoing_requests.first(:conditions => {:item_id => item.id})
.item{:id => item.element_id, :class => request ? 'requested' : ''}
  %h2.title.searchable= item.title
  %p.description.searchable= item.description
  - if current_user == item.user
    = link_to "Edit", edit_user_item_url(item.user, item)
    - unless item.requests.empty? || current_page?(item_url(item))
      = pluralize item.requests.count, "pending request"
      = link_to 'View', item_url(item)
  - else
    .distance== This item is #{distance_phrase_for item} from you.
    - if request
      You have a pending request for this item.
      = link_to_remote "Retract", :url => item_request_url(item, request), :method => :delete
    - else
      = link_to_remote 'Request', :url => item_requests_url(item), :method => :post