.box.bordered
  - if params[:search] && @items.blank?
    %h2== Nothing found for #{params[:search]}.
    == Can we convince you to #{link_to "add something", new_user_item_url(current_user)} so the next person doesn't get this message?
  = render :partial => 'items/search_form'
  #advanced-search
    = link_to 'Advanced Search', '#', :class => 'replacement'
    %div{:style => 'display:none'} Hey geeks; you can use regular expressions to search!
- unless params[:search].blank? || @items.blank?
  #search-items.items.box.bordered

    %h2
      == Results for
      %em#query= params[:search]
    - for item in @items
      = render_object_partial item
  